@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';
@import './styles/theme.css';

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend Deca', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #030712;
  /* gray-950 */
  color: #f3f4f6;
  /* gray-100 */
  overflow: hidden;
  /* App-like feel */
}